# Coding Exercise #0112

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

### 1. Visuallization with Pandas (more examples):

Read in data and take a look:

In [2]:
# Go to the directory where the data file is located. 
os.chdir(r'~~')                # Please, replace the path with your own.

FileNotFoundError: [Errno 2] No such file or directory: '~~'

In [10]:
df = pd.read_csv('./AirQuality.csv', header='infer', sep=";")

In [12]:
df.shape

(9471, 17)

In [11]:
df.head(5)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,NaN
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",NaN,NaN
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",NaN,NaN
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",NaN,NaN

In [13]:
df.tail(5)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 1.1. Bar plot:

First, build a frequency table:

In [14]:
frequencies = df.region.value_counts()
frequencies

AttributeError: 'DataFrame' object has no attribute 'region'

In [ ]:
df2 = pd.DataFrame( {'Counts':[frequencies[0], frequencies[1]] }, index=['East','West'])
df2

In [ ]:
df2.plot.bar(color='orange', alpha=0.7)
plt.show()

#### 1.2. Histogram:

Overall:

In [ ]:
df.loc[:,'pm25'].plot.hist(color='blue',alpha=0.5)
plt.show()

Split east and west:

In [ ]:
df[df.region=='east'].pm25.plot.hist(color='blue',alpha=0.6)
df[df.region=='west'].pm25.plot.hist(color='red',alpha=0.6)
plt.show()

#### 1.3. Scatter plot:

Overall:

In [ ]:
df.plot.scatter(x='latitude', y='pm25',color='blue',alpha=0.5,marker='o',s=20)
plt.show()

Split east and west:

In [ ]:
base=df[df.region=='east'].plot.scatter(x='latitude', y='pm25',color='blue',alpha=0.6,marker='o',s=20, label='East')
df[df.region=='west'].plot.scatter(x='latitude', y='pm25',color='red',alpha=0.6,marker='o',s=20, label='West',ax=base)
plt.show()

Using latitude and longitude:

In [ ]:
df.plot.scatter(x='longitude', y='latitude', color='green',alpha=0.5,marker='o',s=15)
plt.show()

Array of scatter plots:

In [ ]:
pd.plotting.scatter_matrix(df[['longitude','latitude','pm25']],c='red',marker='.',s=15)
plt.show()